.addmeta-container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.addmeta-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.back-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #4ebfa2;
}

.form-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 10px;
}

label {
  font-weight: bold;
  margin-bottom: -8px;
}

input {
  padding: 14px;
  border: 2px solid #cceee6;
  border-radius: 10px;
  font-size: 1rem;
}

.btn-salvar {
  background-color: #4ebfa2;
  color: white;
  padding: 16px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-salvar:active {
  background-color: #3da68d;
}
