.add-progresso-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.back-btn {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #4ebfa2;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 15px;
}

.meta-label {
  margin-bottom: 20px;
  color: #555;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.form-group input {
  padding: 12px;
  border: 1px solid #4ebfa2;
  border-radius: 10px;
}

.btn-salvar {
  width: 100%;
  padding: 14px;
  background: #4ebfa2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
