.back-btn {
  background: #4ebfa2;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  margin-right: 12px; /* Para separar do título */
}

.back-btn:active {
  opacity: .7;
}
