.back-btn {
  position: fixed;
  top: 20px;
  left: 20px;

  background: #4ebfa2;
  color: white;
  border: none;

  padding: 8px 12px;
  border-radius: 8px;
  font-size: 20px;

  cursor: pointer;
  z-index: 1000; /* garante que não atrapalha elementos */
}
