/* CONTAINER GERAL */
.dashboard-container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

 padding:0;
  box-sizing: border-box;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative; /* ESSENCIAL PARA O MENU FICAR DENTRO */
}

/* BOTÃO DO MENU */
.menu-btn {
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 26px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 50;
}

/* CARD DE SALDO */
.saldo-card {
  width: 100%;
  background-color: #4ebfa2;
  color: white;
  
  padding: 40px 24px 30px 24px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  box-shadow: 0 4px 15px rgba(78, 191, 162, 0.4);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.saldo-label {
  font-size: 1rem;
}

.saldo-valor {
  margin-top: 8px;
  font-size: 2rem;
  font-weight: bold;
}

/* BOTÕES */
.dashboard-buttons {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 40px;
}

.btn-primary {
  background-color: #4ebfa2;
  color: white;
  padding: 16px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn-primary:active {
  background-color: #3da68d;
}

.btn-secondary {
  background-color: white;
  border: 2px solid #4ebfa2;
  color: #4ebfa2;
  padding: 16px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-secondary:active {
  background-color: #e9fffa;
}

/* DESKTOP */
@media (min-width: 768px) {
  .dashboard-container {
    justify-content: flex-start;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
  }
}
