.receita-container {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 16px;
  box-sizing: border-box;
}

.receita-header {
  width: 100%;
  text-align: center;
  margin-top: 60px; /* dá espaço para o backbutton */
}


.back-btn {
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #4ebfa2;
}

.receita-header h2 {
  font-size: 1.4rem;
  color: #4ebfa2;
}

.form-area {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.form-area label {
  font-size: 0.95rem;
  color: #444;
}

.form-area input {
  padding: 12px;
  border: 2px solid #4ebfa2;
  border-radius: 10px;
  font-size: 1rem;
}

.btn-registrar {
  margin-top: 10px;
  background: #4ebfa2;
  color: white;
  padding: 14px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.lista-receitas h3 {
  margin-bottom: 10px;
}

.lista-receitas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.receita-item {
  background: #e8fff8;
  border-left: 5px solid #4ebfa2;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.receita-item .desc {
  font-weight: bold;
  color: #4ebfa2
}

.receita-item .data {
  font-size: 0.85rem;
  color: #666;
}

.receita-item .valor {
  color: #4ebfa2;
  font-weight: bold;
}

.muted {
  color: #888;
  font-size: 0.9rem;
}
